<header>
  <div class="header-container">
    <%= link_to "ðŸ‘ˆæˆ»ã‚‹", "#", onclick: "history.back(); return false;", method: :get %>

    <%# ãƒˆãƒƒãƒ—ãƒšãƒ¼ã‚¸ã«æˆ»ã‚‹ãƒœã‚¿ãƒ³ %>
    <%= link_to 'ðŸ ãƒ›ãƒ¼ãƒ ', root_path, class: 'home-button' %>
  </div>
</header>